<footer>
    <div id="footer-content">
        <div id="footer-content-top">
            <div>
                <h3>Acknowledgement of Country</h3>
                <p>
                    The Government of Western Australia acknowledges the traditional custodians throughout Western
                    Australia and their continuing connection to the land, waters and community. We pay our respects to
                    all members of the Aboriginal communities and their cultures; and to Elders both past and present.
                </p>
            </div>
            <div id="footer-contact">
                <h3>Contact the Department of Mines, Industry Regulation and Safety</h3>
                <div id="footer-contact-container">
                    <div>
                        <p>
                            Provide feedback / corrections or request further information and support when using this
                            application.
                        </p>
                        <div>
                            <span>Email:</span>
                            <span><a href="mailto:">minedex@dmirs.wa.gov.au</a></span>
                        </div>
                    </div>
                    <div>
                        <p>
                            Technical support accessing the Department's online systems.
                        </p>
                        <div>
                            <span>Phone:</span>
                            <span><a href="tel:+">+61 8 9222 0777</a></span>
                        </div>
                        <div>
                            <span>Email:</span>
                            <span><a href="mailto:">IT.servicedesk@dmirs.wa.gov.au</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-content-bottom">
            <div id="footer-nav">
                <a href="">WA.gov.au</a>
                <a href="">Copyright</a>
                <a href="">Disclaimer</a>
                <a href="">Privacy</a>
                <a href="">About</a>
            </div>
            <div>
                <p>
                    © Government of Western Australia 2021
                    <br/>
                    Department of Mines, Industry Regulation and Safety
                    <br/>
                    VocPrez - v3
                </p>
            </div>
        </div>
    </div>
</footer>